body {
    font-family: "Nunito Sans", serif;
    margin: auto;
    background-color: #DFDFDF;
    text-align: justify;

}

p, h3 {
    font-family: monospace;
    font-size: 20px;
}

#nav {
    display: flex;
    flex-direction: row;
    gap: 500px;
    background-color: #DFDFDF;
    z-index: 1;
}

#nav-left, #nav-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #DFDFDF;
}

#nav-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-right: 20px;
    background-color: #DFDFDF;
}

#nav-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

.showing {
    opacity: 1;
    display: block;
}

.hidden {
    opacity: 0;
    display: none;
}

#bgHome {
    width: 100%;  
    height: 100vh;
    object-fit: cover; 
    position: fixed;
    z-index: 0;
    
}

#homeBttn {
    cursor: pointer;
}

#aboutPage, #projectPage {
    margin: auto;
    max-width: 600px;
    padding: 100px;
}



hr {
    
    height: 1px;
    border: none;
    border-top: 1px solid #000;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

#web, #game, #misc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
}